{% load static %}
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>Laundry Management System</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/maruti-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/maruti-media.css' %}" class="skin-color"/>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">Laundry Management System</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-messaages-->
<div class="btn-group rightzero"><a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a
        class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a
        class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span
        class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i
        class="icon-shopping-cart"></i></a></div>
<!--close-top-Header-messaages-->

<!--top-Header-menu-->

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="text" >
            <h4 style="color:red">Welcome - <span style="color:lightgreen">"{{request.user.username}}"</span></h4>
        </li>
    </ul>
    <ul class="nav">
        <li class=""><a title="" href="/change_password/"><i class="icon icon-cog"></i> <span class="text1">Change Password</span></a></li>
        <li class=""><a title="" href="/admin_logout/"><i class="icon icon-share-alt"></i> <span class="text1">Logout</span></a>
        </li>
    </ul>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li class="active"><a href="/dashboard/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
        <li class="submenu"><a href=""><i class="icon icon-th-list"></i><span style="color:red">Reg Users</span></a>
            <ul>
                <li><a href="/view_reg_user/"> Manage Reg Users</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i><span style="color:red">Laundry Requests</span></a>
            <ul>
                <li><a href="/requestlist/?action=New">New Request</a></li>
                <li><a href="/requestlist/?action=Accept">Accept Request</a></li>
                <li><a href="/requestlist/?action=Inprocess">Inprocess Request</a></li>
                <li><a href="/requestlist/?action=Finish">Finish Request</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#" ><i class="icon icon-th-list"></i><span style="color:red">Laundry Price</span></a>
            <ul>
                <li><a href="/view_laundry_price/"> Manage Laundry Price</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i><span style="color:red">Report</span></a>
            <ul>
                <li><a href="/between_dates/">B/w Dates</a></li>
                <li><a href="/count_report/">Request Count</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i><span style="color:red">About</span></a>
            <ul>
                <li><a href="/about/">Update About</a></li>
            </ul>
        </li>
    </ul>
</div>
{% block body %}

{% endblock %}

<script src="{% static 'js/excanvas.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.custom.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'js/jquery.peity.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/maruti.js' %}"></script>
<script src="{% static 'js/maruti.dashboard.js' %}"></script>
<script src="{% static 'js/maruti.chat.js' %}"></script>


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
{% for i in messages %}
<script>
alert('{{i}}');
</script>
{% endfor %}
</body>
<!-- Mirrored from technext.github.io/marutiadmin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 May 2022 17:31:37 GMT -->
</html>
